@{
  Layout = "_Layout";
}

<h1>Library</h1>
<hr />
<h2>Author: @Model["author"].GetAuthorName()</h2>
<hr />
@if (@Model["authorBooks"].Count != 0)
{
  <h4>Here are all the books for this author:</h4>
  <ul>
    @foreach (var book in Model["authorBooks"])
    {
      <li>@book.GetTitle()</li>
    }
  </ul>
}

<h4>Add a Book to this author:</h4>
<form action='/authors/@Model["author"].GetId()/books/new' method='post'>
  <label for='book-id'>Select a book</label>
  <select id='book-id' name='book-id' type='text' required>
    @foreach (var book in @Model["allBooks"])
    {
      <option value='@book.GetId()'>@book.GetTitle()</option>
    }
  </select>
  <button type='submit'>Add</button>
</form>

<h4><a href="/authors">List of Authors</a></h4>
<h4><a href="/librarian">Return to Directory</a></h4>
