@* @using Library.Models;
@var authorId = @Model["author"].GetId(); *@

<h1>Library</h1>
<h2>Author: @Model["author"].GetAuthorName()</h2>
<hr />
@if (@Model["authorBooks"].Count != 0)
{
  <h4>This author has these books:</h4>
  <ul>
    @foreach (Book book in @Model["authorBooks"])
    {
      <li>@book.GetTitle()</li>
    }
  </ul>
}
<h4>Add a book to this author:</h4>
<form action='/authors/Model["author"].GetId()/books/new' method='post'>
  <label for='book-id'>Select a book</label>
  <select id='book-id' name='book-id' type='text'>
    @foreach (var book in @Model["allBooks"])
    {
      <option value='@book.GetId()'>@book.GetTitle()</option>
    }
  </select>
  <button type='submit'>Add</button>
</form>
<p><a href="/">Return to Main Page</a></p>
